.next
node_modules
.env
.env.local
dist
coverage
*.sys
DumpStack.log
*.log

/mysql-data/
/mysql-9.6.0-winx64/
/mysql-9.6.0-winx64.zip

/php/
/php-*.zip
/php.ini
/php.ini-development
/php.ini-production
/*.dll
/*.exe
/*.lib
/php*.dll
/php*.exe
/php*.lib
/lib*.dll
/icu*.dll
/glib-2.dll
/gmodule-2.dll
/brotli*.dll
/deplister.exe
/legacy.dll
/composer.phar
/phar.phar.bat
/pharcommand.phar
/openssl.cnf
/license.txt
/news.txt
/readme-redist-bins.txt

/server.err.log
/server.out.log
